@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

body {
    margin: auto;
    overflow: auto;
    /* background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite; */
    background-size: 400% 400%;
    background-attachment: fixed;
    background: url("logos/triangles-download-2.png");
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 70px;
    min-width: 350px;
    background-color: #54c545;
    box-shadow:
      0 15px 20px rgba(0, 0, 0, 0.1),
      0 15px 20px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 40%;
    margin: auto;
    transition: 0.4s;
}

#info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
  }

  .window {
    width: 50%;
    margin: auto;
    background-color: #f5f5f7;
    border: 1px solid #c1c1c3;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .titlebar {
    display: flex;
    align-items: center;
    background-color: #e2e2e4;
    height: 28px;
  }
  
  .btn-green, .btn-red, .btn-yellow {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .btn-green {
    background-color: #6cce03;
    margin-left: 10px;
  }
  
  .btn-yellow {
    background-color: #ffbc48;
  }
  
  .btn-red {
    background-color: #ff3b30;
  }
  
  .title {
    flex: 1;
    text-align: center;
    font-weight: bold;
    margin-right: 50px;
  }
  
  .content {
    padding: 20px;
    text-align: center;
  }
  
  .info {
    font-size: 18px;
  }
  