@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=PT+Mono&family=Sigmar&display=swap');

body {
    /* background: rgb(126,255,229);
    background: linear-gradient(96deg, rgba(126,255,229,1) 0%, rgba(190,139,255,1) 100%);  */
}

h1 {
    font-family: "PT Mono", monospace;
    text-align: center;
}

nav {
    background-color: #80c9ff;
}
